* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  p {
    line-height: 1.4;
    color: #585858;
  }
  body{height: 1500px;}
  .container {
    max-width: 1000px;
    margin: auto;
  }
  header .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header .content ul {
    list-style-type: none;
    display: flex;
    margin-right: -120px;
  }
  
  header .content ul li {
    margin-left: 10px;
  }
  .head {
    font-size: 25px;
    justify-content: center;
    position: absolute;
    z-index: 100;
    margin-top: -280px;
  }
  .head p {font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: 40px;
  }
  .home-cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .home-cover {
    position: relative;
    height: 488px;
    overflow: hidden;
  }
  .head .start {outline: none;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    width: 180px;
    height: 50px;
    border-radius: 4px;
    text-align: center;
    background-color: rgba(224, 221, 221, 0);
font-weight: bold;font-size: 20px; }
  .home-cover .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #04040447;
  }
  .cards {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
    margin-top: 20px;
}
.card{display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 1px; }
    .in{ margin-left: -60px;}
    @media screen and (max-width: 550px){
       
        .head {margin-left: 80px;
            
        }
        .head p, button{font-size: 20px;}
    
        .home-cover{
            height: 400px;
        }
        .cards{   grid-template-columns: repeat(1, 1fr);}
        .logo{ margin-left: 80px;}
    }
        
    